body {
    background-color: #f5f5dc;
    font-family: Arial;
    text-align: center;
}


table {
    background-color: white;
    margin: 0 auto;
}


.lista {
    color: darkblue;
    display: inline-block;
    text-align: left;
}


#titulo {
    color: darkred;
}

h1 {
    font-size: 30px;
}
