body {
    background-color: #f5f5dc;
    font-family: Arial;
    text-align: center;
}

#titulo {
    color: darkred;
    text-align: center;
}

.lista {
    color: darkblue;
    display: inline-block;
    text-align: center;
}

a:hover {
    color: red;
}

table {
    background-color: white;
    margin: 0 auto;
}

h1 {
    font-size: 30px;
}
